<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .user-title {
            color: #3498db;
            margin-bottom: 30px;
        }

        .user-container {
            text-align: center;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        #speciesEmoji {
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 30px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            color: #333;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<h1 class="user-title">Utilisateur :</h1>
<div class="user-container">
    <div id="speciesEmoji"></div>
    <ul>
        <li>Nom : <span th:text="${user.login}"></span></li>
        <li>SPECIES : <span id="userSpecies" th:text="${user.species}"></span></li>
    </ul>
</div>
<script>
    const species = document.getElementById('userSpecies').textContent;
    const emojiContainer = document.getElementById('speciesEmoji');

    switch (species) {
        case 'ADMIN':
            emojiContainer.innerHTML = '👑';
            break;
        case 'PIRATE':
            emojiContainer.innerHTML = '🏴‍☠️';
            break;
        case 'VILLAGEOIS':
            emojiContainer.innerHTML = '👨‍🌾️';
            break;
        default:
            emojiContainer.innerHTML = '';
    }
</script>
</body>
</html>
