<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Liste des utilisateurs</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            min-height: 100vh;
        }

        h1 {
            color: #333;
            text-align: center;
            margin-top: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            text-align: center;
        }

        li {
            margin: 10px;
            display: inline-block;
            transition: transform 0.3s ease;
        }

        li a {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            padding: 10px 20px;
            text-decoration: none; /* Supprime le soulignement */
            color: #333;
        }

        li:hover {
            transform: translateY(-5px);
        }
    </style>
</head>
<body>
<h1>Liste des utilisateurs</h1>
<ul>
    <li th:each="user : ${users}">
        <a th:href="@{'/users/' + ${user}}"><span th:text="${user}"></span></a>
    </li>
</ul>
</body>
</html>
